

<div class="mainTable">
    <table class="table table-striped table-hover table-bordered border-secondary" id="dataTable">
        <thead>
            <tr>
                <th scope="col"><strong>Name</strong></th>
                <th scope="col"><strong>Person Reported</strong></th>
                <th scope="col"><strong>Date of visit</strong></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
